.grid-container {
  display: grid;
  height: 300px;
  width: 300px;
  border: 2px solid black;

  /* Grid structure */
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;

  /* Only shorthand alignment properties */
  place-content: center;


 
}

.grid-item {
  background-color: lightblue;
  border: 1px solid blue;
  font-size: 24px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
