body {
  margin: 0;
  height: 100vh;
  background-color: #eef;
  display: flex;

}

.grid-container {
  display: grid;
  width: 400px;
  height: 400px;
  border: 2px solid #000;

  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px 100px;

  place-content: center;  /* only alignment used */
  gap: 10px;
  background-color: #fff;
}

.item {
  background-color: lightcoral;
  border: 1px solid darkred;
  font-size: 24px;
  text-align: center;
  /* line-height: 100px; */
}
